<a href="https://colab.research.google.com/github/Izumiiiii17/AI-ML/blob/main/AIML_LAB_SHEET1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#CREATING TUPLE WITH SINGLE ELEMENT

a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [ ]:
#CREATING TUPLE WITH INTEGERS

a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
#CREATINGG TUPLE WITH FLOAT NUMBERS

b=(1.2,2.3,3.4,4.5)
print(b)

(1.2, 2.3, 3.4, 4.5)

In [ ]:
#CREATING TUPLE WITH STRINGS

c=("one","two","three","four","five")
print(c)

('one', 'two', 'three', 'four', 'five')

In [ ]:
#CREATING TUPLE WITH MULTIPLE DATA TYPES

mix=(1,2,3,"one","two","three",6.7,7.9)
print(mix)

(1, 2, 3, 'one', 'two', 'three', 6.7, 7.9)

In [ ]:
#ACCESSING ITEMS OF STRINGS

a=(1,2,3,4,"hello")
print(a[4])

hello

In [ ]:
#CREATE A DICTIONARY

a={
    "name":"joy",
    "age":20,
    "city":"kolkata"
}
print(a)

{'name': 'joy', 'age': 20, 'city': 'kolkata'}

In [ ]:
len(a)

3

In [ ]:
type((a))

dict

In [ ]:
x=a.keys()
x

dict_keys(['name', 'age', 'city'])

In [ ]:
y=a.values()
y

dict_values(['joy', 20, 'kolkata'])

In [ ]:
z=a.items()
z

dict_items([('name', 'joy'), ('age', 20), ('city', 'kolkata')])

In [ ]:
#SETS

set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
#3 DUPLICATES NOT ALLOWED

set={1,2,3,4,5,1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
len(set)

5

In [ ]:
type(set)

set

In [ ]:
def add():
  a=2
  b=3
  sum=a+b
  return sum
add()
print(add())

5